aiofiles
annotated-doc
annotated-types
anyio
bcrypt
boto3
botocore
certifi
cffi
charset-normalizer
click
colorama
cryptography
dnspython
easyocr
ecdsa
email-validator
fastapi
filelock
fsspec
greenlet
h11
httpcore
httptools
httpx
idna
ImageIO
Jinja2
jmespath
lazy_loader
MarkupSafe
motor
mpmath
networkx
ninja
numpy
opencv-python-headless
packaging
passlib
pdfminer.six
pillow
prometheus_client
psycopg2
pyasn1
pyclipper
pycparser
pydantic
pydantic-settings
pydantic_core
pymongo
PyMuPDF
PyPDF2
pytesseract
python-bidi
python-dateutil
python-dotenv
python-jose
python-multipart
PyYAML
redis
rsa
s3transfer
scikit-image
scipy
setuptools
shapely
six
sniffio
SQLAlchemy
SQLAlchemy-Utils
starlette
sympy
tenacity
tifffile
torch
torchvision
typing-inspection
typing_extensions
urllib3
uvicorn
watchfiles
websockets
